<article class="product-item">
    <img src="" alt="">
    <h2>Title</h2>
    <div>
      <a class="btn btn-alt" href="">View & Edit</a>
      <button class="btn btn-alt"></button>
    </div>
  </article>